doctype
html(lang="en")
head
  script(type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js")
  script(type="text/javascript" src="js/blog.js")
  link(rel="stylesheet", href="styles/_reset.css")
  link(rel="stylesheet", href="styles/styles.css")
  meta(charset="UTF-8")
  title To Do
body
  div.background
    div.logowrapper
      div.logo Horray
    ul
      each item in blogs
        div.picturewrapper
          img(src='http://cdn.c.photoshelter.com/img-get/I0000iAuAcJVVu34/s/750/chinatown-san-francisco-17-casanf77640.jpg')
        li
          div.list
            a(href='/blog/#{item._id}')
              div.date 
                p.date= item.date
              div.title
                p.title= item.title
              div.author
                p.author= item.author
              div.body
                p.body= item.body    
          a(class="button", href='/fullblog') Read More      

        
      


   

             
